<h1>This page shows the users posts and comments<h1>
<div>
  <span><img src="https://picsum.photos/id/64/200" alt="..."></span>
  <span>
   name: <%= @user.name %>
  <span> number of posts: <%= @user.posts.count %> </span>
  </span>
    <h5>Bio</h5>
    <p><%= @user.bio  %></p>

  <% @user.posts.each do |post| %>
    <li>
    <div>
     <div> <%="title: #{post.title}"%></div>
      <div><%=link_to  post.text, user_post_path(@user, post) %></div>
    </div>
    <div>
    <span>Comments: <%= post.comments.count%></span>
    <span>Likes:<%= post.likes.count %></span>
    </div>
  </li>
  <%end%>
  <div>

<button type="button">See All Post</button>
  </div>
</div>