  <div class="form-container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'row g-3'}) do |f| %>
    <div class="col-12">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class: 'form-control' %>
    </div>

    <div class="col-12">
     <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'form-control' %>
    </div>

    <div class="col-12">
     <%= f.submit "Log in", class: "btn btn-primary w-100" %>
    </div>
    <div class='col-12'>
      <%= render "devise/shared/links" %>
    </div>
    <% end %>
  </div>
